<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
  </head>
  <body>
    <div id="app">
      <h1 v-if="message.length > 2">Hola {{ message }}</h1>
      <h1 v-else>Por favor escribe tu nombre</h1>
      <input type="text" v-model="message" />
      <button @click="reverse">Invertir</button>

      <h2>Lista de tareas</h2>
      <ul>
        <li v-for="tarea in tareas">
          <span v-text="tarea.title"></span>
          <small v-if="tarea.complited">Completa</small>
          <small v-else>Incompleta</small>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      const app = new Vue({
        el: "#app",

        data: {
          message: "Apprendible",
          tareas: [
            { title: "Aprende Laravel", complited: true },
            { title: "Aprende VueJS", complited: true },
            { title: "Aprende PHP", complited: false }
          ]
        },

        methods: {
          reverse: function () {
            this.message = this.message.split("").reverse().join("")
          }
        }
      })
    </script>
  </body>
</html>
